<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <app-navigation></app-navigation>

    <h1>Usuario Loggeado: <span class="badge bg-primary">{{usuario.Usuario}}</span></h1>

    <div class="container">
        <div class="row">
            <div class="mt-5 col-sm-4" *ngFor="let dato of datosJugadores">
                <app-tarjetas [datoJugadorEspecifico]="dato"></app-tarjetas>
            </div>
        </div>
    </div>

</body>

</html>